<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elo Ratings</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top: 20px; }
        .container { max-width: 1200px; } /* Adjusted for wider layout */
        .elo-rating-table, .last-games-table { margin-top: 20px; }
        .table { box-shadow: 0 5px 15px rgba(0,0,0,.1); }
        th { position: sticky; top: 0; background-color: #f8f9fa; }
        .action-links { margin-top: 20px; }
        .action-link { margin-right: 10px; } /* Add some spacing between the links */
        .footer { margin-top: 20px; text-align: center; }
        .footer a { color: #6c757d; } /* Match the grey color used elsewhere */
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- Player Ladder Column -->
        <div class="col-md-6">
            <h2 class="mb-4">Biosustains Chess Ladder</h2>
            <div class="elo-rating-table">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Player</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player, rating in sortedRatingDict %}
                            <tr>
                                <!-- Update the player's name to be a clickable link -->
                                <td><a href="/player/{{ player }}">{{ player }}</a></td>
                                <td>{{ rating }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <!-- Action Links -->
            <div class="action-links text-right">
                <a href="/add_player" class="btn btn-primary action-link">Add New Player</a>
                <a href="/play_game" class="btn btn-secondary">Record Game</a>
            </div>
        </div>
        
        <!-- Last 10 Games Column -->
        <div class="col-md-6">
            <h2 class="mb-4">Games Played</h2>
            <div class="last-games-table">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                          <!--  <th scope="col">Game ID</th>-->
                            <th scope="col">Winner</th>
                            <th scope="col">Loser</th>
                            <th scope="col">White</th> <!-- Added column for White Player -->
                            <th scope="col">Time</th> 
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game_id, game in last_10_games.items() %}
                            <tr>
                              <!--  <td>{{ game_id }}</td>-->
                                <td>{{ game.winner }}</td>
                                <td>{{ game.loser }}</td>
                                <td>{{ game.white }}</td>
                                <td>{{ game.time_control }}</td>
                                <td>{{ game.Date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Footer Link -->
    <div class="footer">
        <a href="https://github.com/jakob949/CFB-chess-ladder">Visit GitHub repository</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>